$background: #f6f7f1;
$secText: #e0ec00;
$marquee: #7f47dd;
@font-face {
  font-family: "projekt";
  src: url("../assets/fonts/project/projekt_blackbird-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/project/projekt_blackbird-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin mainPadding {
  padding: 1vh 2vh 1vh 2vh;
}

@mixin flexBlock {
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}
@mixin borderTop {
  border-top: 1vw solid black;
}
@mixin borderBottom {
  border-bottom: 1vw solid black;
}

@mixin flexBlock {
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}
