$background: #f6f7f1;

@font-face {
  font-family: "projekt";
  src: url("../fonts/project/projekt_blackbird-webfont.woff2") format("woff2"),
    url("../fonts/project/projekt_blackbird-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
