$background: #f6f7f1;
$secText: #e0ec00;
@font-face {
  font-family: "projekt";
  src: url("../assets/fonts/project/projekt_blackbird-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/project/projekt_blackbird-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin mainPadding {
  padding: 1vh 2vh 1vh 2vh;
}

@mixin borders {
  border-top: 1vw solid black;
  border-bottom: 1vw solid black;
}
